---
import { Image } from 'astro:assets';
import inbestme from '../images/timeline/inbestme.png';
import dxc from '../images/timeline/dxc.png';
import ic24 from '../images/timeline/ic24.webp';
import scoota from '../images/timeline/scoota.png';
import qad from '../images/timeline/qad.png';
import truekkealogo from '../images/timeline/truekkealogo.png';
---

<div class="timeline-wrapper section">
  <div class="columns job-content">
    <div class="column is-one-fifth first-column is-ball bottom has-text-centered">
      <div class="circle">2020</div>
    </div>
    <div class="column has-text-left second-column">
      <div class="content">
        <Image
          class="image-logo"
          src={inbestme}
          alt="inbestMe company logo"
          width={200}
          height={50}
          format="webp"
          loading="lazy"
        />
      </div>
      <div class="content">
        <h3 class="title is-4">Lead Frontend Engineer & Head of Product at inbestMe</h3>
        <h4 class="subtitle is-6">November 2020 - Present</h4>
        <p class="is-4">
          Leading frontend development and product decisions for inbestMe's
          investment platform. Working directly with the CEO on product strategy
          and with the CTO on technical architecture. Shipping features across
          mobile and web. Tech stack: React Native, Expo, TypeScript, VueJS, .NET.
        </p>
      </div>
    </div>
    <div class="column is-one-fifth third-column"></div>
  </div>

  <div class="columns timeline">
    <div class="column is-one-fifth corner-container">
      <div class="corner top-right"></div>
    </div>
    <div class="column">
      <hr />
    </div>
    <div class="column is-one-fifth corner-container">
      <div class="corner bottom-left"></div>
    </div>
  </div>

  <div class="columns job-content">
    <div class="column is-one-fifth first-column is-ball has-text-centered is-right full">
      <div class="circle">2018</div>
    </div>
    <div class="column has-text-right-desktop second-column">
      <div class="content">
        <Image
          class="image-logo"
          src={dxc}
          alt="DXC company logo"
          width={200}
          height={50}
          format="webp"
          loading="lazy"
        />
      </div>
      <div class="content">
        <h3 class="title is-4">Lead Frontend Developer at DXC</h3>
        <h4 class="subtitle is-6">January 2018 - October 2020</h4>
        <p class="is-4">
          Assist with the implementation of a new Manufacturing Execution
          System (MES). Manage a remote team, with Scrum tasks, distributing
          workload, code reviewing and training. Application built using
          Angular 8, Electron, Ionic 4, RxJS.
        </p>
      </div>
    </div>
    <div class="column is-one-fifth third-column is-ball has-text-centered is-right full">
      <div class="circle">2018</div>
    </div>
  </div>

  <div class="columns timeline">
    <div class="column is-one-fifth corner-container">
      <div class="corner bottom-right"></div>
    </div>
    <div class="column">
      <hr />
    </div>
    <div class="column is-one-fifth corner-container">
      <div class="corner top-left"></div>
    </div>
  </div>

  <div class="columns job-content">
    <div class="column is-one-fifth first-column is-ball is-left full has-text-centered">
      <div class="circle">2017</div>
    </div>
    <div class="column has-text-left second-column">
      <div class="content">
        <Image
          class="image-logo"
          src={ic24}
          alt="IC24 company logo"
          width={100}
          height={65}
          format="webp"
          loading="lazy"
        />
      </div>
      <div class="content">
        <h3 class="title is-4">Angular 2 Consultant at IC24</h3>
        <h4 class="subtitle is-6">July 2017 - December 2017</h4>
        <p class="is-4">
          Developed a Rostering System that enabled internal users to do
          shift allocations, workforce management, reporting and
          forecasting. Application built using Angular 4, Webpack, Electron,
          Redux (NGRX), CSS3, HTML5 and Bootstrap 4.
        </p>
      </div>
    </div>
    <div class="column is-one-fifth third-column"></div>
  </div>

  <div class="columns timeline">
    <div class="column is-one-fifth corner-container">
      <div class="corner top-right"></div>
    </div>
    <div class="column">
      <hr />
    </div>
    <div class="column is-one-fifth corner-container">
      <div class="corner bottom-left"></div>
    </div>
  </div>

  <div class="columns job-content">
    <div class="column is-one-fifth first-column is-ball has-text-centered is-right full">
      <div class="circle">2014</div>
    </div>
    <div class="column has-text-right-desktop second-column">
      <div class="content">
        <Image
          class="image-logo"
          src={scoota}
          alt="Scoota company logo"
          width={200}
          height={50}
          format="webp"
          loading="lazy"
        />
      </div>
      <div class="content">
        <h3 class="title is-4">Full Stack Developer at Scoota</h3>
        <h4 class="subtitle is-6">October 2014 - June 2017</h4>
        <p class="is-4">
          Together with the product development team, I helped developing
          multiple web applications and services. Using technologies such as
          Angular 2, Angular JS, Webpack, NodeJS, Serverless, Python,
          Django, Postgres SQL, Redshift, MySQL, CSS3, HTML5 and Git.
        </p>
      </div>
    </div>
    <div class="column is-one-fifth third-column is-ball has-text-centered is-right full">
      <div class="circle">2014</div>
    </div>
  </div>

  <div class="columns timeline">
    <div class="column is-one-fifth corner-container">
      <div class="corner bottom-right"></div>
    </div>
    <div class="column">
      <hr />
    </div>
    <div class="column is-one-fifth corner-container">
      <div class="corner top-left"></div>
    </div>
  </div>

  <div class="columns job-content">
    <div class="column is-one-fifth first-column is-ball is-left full has-text-centered">
      <div class="circle">2013</div>
    </div>
    <div class="column has-text-left second-column">
      <div class="content">
        <Image
          class="image-logo"
          src={truekkealogo}
          alt="Truekkea company logo"
          width={200}
          height={50}
          format="webp"
          loading="lazy"
        />
      </div>
      <div class="content">
        <h3 class="title is-4">
          IT Consultant at Truekkea
        </h3>
        <h4 class="subtitle is-6">October 2013 - March 2015</h4>
        <p class="is-4">
          Collaborating on the creation of the startup Truekkea. Responsible
          for the development of the web application using Ruby on Rails,
          Bootstrap, Slim and Compass.
        </p>
      </div>
    </div>
    <div class="column is-one-fifth third-column"></div>
  </div>

  <div class="columns timeline">
    <div class="column is-one-fifth corner-container">
      <div class="corner top-right"></div>
    </div>
    <div class="column">
      <hr />
    </div>
    <div class="column is-one-fifth corner-container">
      <div class="corner bottom-left"></div>
    </div>
  </div>

  <div class="columns job-content">
    <div class="column is-one-fifth first-column is-ball has-text-centered is-right full">
      <div class="circle">2012</div>
    </div>
    <div class="column has-text-right-desktop second-column">
      <div class="content">
        <Image
          class="image-logo"
          src={qad}
          alt="QAD company logo"
          width={200}
          height={50}
          format="webp"
          loading="lazy"
        />
      </div>
      <div class="content">
        <h3 class="title is-4">
          Software Engineer at QAD
        </h3>
        <h4 class="subtitle is-6">February 2012 - September 2014</h4>
        <p class="is-4">
          Being part of the Bank Drivers Team, we provided software
          solutions, that allowed the companies to send and receive
          electronic data with the banks and integrate it to the ERP
          System. Language used PROGRESS 4GL.
        </p>
      </div>
    </div>
    <div class="column is-one-fifth third-column is-ball has-text-centered is-right full">
      <div class="circle">2012</div>
    </div>
  </div>
</div>

<style is:global>
  .timeline-wrapper .columns {
    display: flex;
  }

  .timeline-wrapper .column {
    flex: 1;
    padding: 0.75rem;
  }

  .timeline-wrapper .is-one-fifth {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .timeline-wrapper .has-text-centered {
    text-align: center;
  }

  .timeline-wrapper .has-text-left {
    text-align: left;
  }

  .timeline-wrapper .has-text-right-desktop {
    text-align: left;
  }

  @media (min-width: 769px) {
    .timeline-wrapper .has-text-right-desktop {
      text-align: right;
    }
  }

  .timeline-wrapper .title.is-4 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.125;
    margin: 0 0 0.5rem;
  }

  .timeline-wrapper .subtitle.is-6 {
    font-size: 1rem;
    font-weight: 400;
    color: #7a7a7a;
    margin: 0 0 0.5rem;
  }

  .timeline-wrapper .content {
    margin-bottom: 0.75rem;
  }

  .timeline-wrapper .content p {
    margin: 0;
  }

  .timeline-wrapper .image-logo {
    display: inline-flex;
    width: 100%;
    max-width: 200px;
    height: auto;
  }

  .timeline-wrapper .circle {
    font-weight: bold;
    padding: 25px 20px;
    border-radius: 50%;
    background-color: #cdf2e2;
    color: #4d4545;
    z-index: 2;
  }

  .timeline-wrapper .job-content .first-column {
    padding: 0px;
  }

  .timeline-wrapper .job-content .first-column.is-right.is-ball .circle {
    display: none;
  }

  .timeline-wrapper .job-content .first-column.is-right.is-ball::after {
    display: none;
  }

  .timeline-wrapper .job-content .is-ball {
    padding: 12px;
    display: inline-flex;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .timeline-wrapper .job-content .is-ball::after {
    content: "";
    position: absolute;
    border-left: 3px solid #cdf2e2;
    z-index: 1;
  }

  .timeline-wrapper .job-content .is-ball.bottom::after {
    height: 50%;
    left: 50%;
    top: 50%;
  }

  .timeline-wrapper .job-content .is-ball.is-right.full::after {
    height: 100%;
    left: calc(50% - 3px);
  }

  .timeline-wrapper .job-content .is-ball.is-left.full::after {
    height: 100%;
    left: 50%;
  }

  .timeline-wrapper .job-content .is-ball.top::after {
    height: 50%;
    left: 50%;
    top: 0;
  }

  .timeline-wrapper .timeline div {
    padding: 0;
    height: 30px;
    box-sizing: border-box;
  }

  .timeline-wrapper .timeline hr {
    border-top: 3px solid #cdf2e2;
    margin: 0;
    top: 17px;
    position: relative;
  }

  .timeline-wrapper .timeline .corner-container {
    display: flex;
    overflow: hidden;
  }

  .timeline-wrapper .timeline .corner {
    border: 3px solid #cdf2e2;
    width: 100%;
    position: relative;
    border-radius: 15px;
  }

  .timeline-wrapper .timeline .top-right {
    left: 50%;
    top: -50%;
  }

  .timeline-wrapper .timeline .bottom-left {
    left: -50%;
    top: calc(50% - 3px);
  }

  .timeline-wrapper .timeline .top-left {
    left: -50%;
    top: -50%;
  }

  .timeline-wrapper .timeline .bottom-right {
    left: 50%;
    top: calc(50% - 3px);
  }

  @media (max-width: 481px) {
    .timeline-wrapper .timeline {
      display: none;
    }

    .timeline-wrapper .job-content .first-column.is-right.is-ball .circle {
      display: block;
    }

    .timeline-wrapper .job-content .first-column.is-right.is-ball::after {
      display: block;
    }

    .timeline-wrapper .job-content .second-column {
      border: 3px solid #cdf2e2;
      border-radius: 20px;
      padding: 20px;
    }

    .timeline-wrapper .job-content .is-ball.top::after {
      height: 100%;
      left: calc(50% - 3px);
      top: 0;
    }

    .timeline-wrapper .job-content .third-column {
      display: none;
    }
  }
</style>
